*.log
*.tsbuildinfo
*.d.ts
*.pem
.cdk.staging
.data
.DS_Store
.env*.local
.eslintcache
.export
.next
.npmrc
.old
.pnpm-debug.log*
.pnp.js
.sentryclirc
.turbo
.vercel
.wip
/.next/
/out/
/.pnp
cdk.out
build
coverage
dist
next-env.d.ts
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

